{{template "header" .}}

<div class="container">
    <div class="panel">
        <img src="/static/padel.png" onclick="window.location = '/padel'" alt="" class="img-gray">
        <h3>Padel</h3>
    </div>
    <div class="panel">
        <img src="/static/tenis.png" onclick="window.location = '/tenis'" alt="" class="img-gray">
        <h3>Tenis</h3>
    </div>
</div>

{{range .Reservas}}
    <div>
        {{.Name}} {{.Address}} {{.Date.Format "02/01/2006"}}
    </div>
{{end}}

{{template "footer" .}}